.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.75);
    z-index: 50;
}

.alert-box {
    overflow-y: scroll;
    position: fixed;
    top: 20vh;
    left: 20vw;
    width: 60vw;
    height: 60vh;
    padding: 16px;
    z-index: 100;
    background-color:deepskyblue;
    border: 5px groove darkgoldenrod;
    border-radius: 15px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26)
}

.alert-box-actions {
    text-align: right;
}

.row{
    margin: 10px;
    padding: 5px;
    background-color: goldenrod;
    border-radius: 15px;
    border: 5px groove darkgoldenrod;
}

.row.buttons, .row.objectives {
  border: none
}

.btn {
  margin: 1px;
}

.btn.btn-success{
  border: 3px groove darkgreen;
  background-color: green;
}

.btn.btn-danger{
  border: 3px groove rgb(151, 0, 0);
  background-color: red;
}
