.pull-right {
  margin-left: 10px;
}

.row{
  margin-top: 10px;
  padding: 10px;
  background-color: goldenrod;
  border-radius: 15px;
  border: 5px groove darkgoldenrod;
}

.abilityscores {
  padding: 20px;
}

.charnumber {
  margin: 0 5px 0 5px;
}

.start {
  margin-top: 10px;
}

.btn {
  margin: 1px;
}

.btn.btn-success{
  border: 3px groove darkgreen;
  background-color: green;
}

.btn.btn-primary{
  border: 3px groove darkblue;
  background-color: blue;
}

