<div class="container-md">
  <form [formGroup]="creationForm" (ngSubmit)="onSubmit()">
    <div class="row border">
      <div class="d-flex justify-content-between">
        <div class="d-flex flex-column">
          <div class="form-group">
            <label for="name">Character Name:</label>
            <input
              type="text"
              name="name"
              id="name"
              class="form-control"
              formControlName="name"
            />
          </div>
          <div class="form-group">
            <label for="playerclass">Choose your Class:</label>
            <select
              name="playerclass"
              id="playerclass"
              class="form-control"
              formControlName="playerclass"
            >
              <option value="warrior">Warrior (+2 Str)</option>
              <option value="wizard">Wizard (+2 Wise)</option>
              <option value="rogue">Rogue (+2 Agi)</option>
            </select>
          </div>
        </div>
        <div class="pull-right img">
          <img
            src="https://firebasestorage.googleapis.com/v0/b/to-do-heroes.appspot.com/o/WBMan-B.png?alt=media&token=ff838c41-4559-40b6-9e6d-908dd2aa09c1"
            alt=""
            class="img-thumbnail"
          />
        </div>
      </div>
      <div class="form-group">
        <label for="origin">Origin:</label>
        <select
          name="origin"
          id="origin"
          class="form-control"
          formControlName="origin"
        >
          <option value="caucasian">Caucasian</option>
          <option value="african">African</option>
          <option value="asian">Asian</option>
        </select>
      </div>
      <div class="form-group">
        <label for="color">Color:</label>
        <select
          name="color"
          id="color"
          class="form-control"
          formControlName="color"
        >
          <option value="red">Red</option>
          <option value="green">Green</option>
          <option value="blue">Blue</option>
        </select>
      </div>
    </div>
    <div class="row border">
      <div class="d-flex justify-content-around abilityscores">
        <div class="d-flex flex-row">
          <h3 class="align-self-center">Strenght:</h3>
          <h2 class="align-self-center charnumber">{{ abilityScores.strenght }}</h2>
          <div class="d-flex flex-column">
            <button class="btn btn-primary" type="button" (click)="onPlusButton('strenght')">+</button>
            <button class="btn btn-primary" type="button" (click)="onMinusButton('strenght')">-</button>
          </div>
        </div>
        <div class="d-flex flex-row">
          <h3 class="align-self-center">Vitality:</h3>
          <h2 class="align-self-center charnumber">{{ abilityScores.vitality }}</h2>
          <div class="d-flex flex-column">
            <button class="btn btn-primary" type="button" (click)="onPlusButton('vitality')">+</button>
            <button class="btn btn-primary" type="button" (click)="onMinusButton('vitality')">-</button>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-around abilityscores">
        <div class="d-flex flex-row">
          <h3 class="align-self-center">Agility:</h3>
          <h2 class="align-self-center charnumber"> {{ abilityScores.agility }}</h2>
          <div class="d-flex flex-column">
            <button class="btn btn-primary" type="button" (click)="onPlusButton('agility')">+</button>
            <button class="btn btn-primary" type="button" (click)="onMinusButton('agility')">-</button>
          </div>
        </div>
        <div class="d-flex flex-row">
          <h3 class="align-self-center">Wiseness:</h3>
          <h2 class="align-self-center charnumber"> {{ abilityScores.wiseness }}</h2>
          <div class="d-flex flex-column">
            <button class="btn btn-primary" type="button" (click)="onPlusButton('wiseness')">+</button>
            <button class="btn btn-primary" type="button" (click)="onMinusButton('wiseness')">-</button>
          </div>
        </div>
      </div>
      <h2 class="d-flex flex-row justify-content-center">Points remaining: {{ points }}</h2>
    </div>
    <div class="d-flex flex-row justify-content-center start">
      <button class="btn btn-success" type="submit" (click)="onSubmit()">Start</button>
    </div>
  </form>
</div>
